<div class="flex flex-col h-screen w-screen items-center justify-center gap-5">
  <img
    class="w-4/12 lg:w-2/12"
    src="/assets/UgHorizontalColor.svg"
    alt="LogoUG"
  />
  <h1 class="text-blue-950 text-xl font-medium mt-5">Revisión de Propuestas</h1>
  <form
    class="flex flex-col gap-5"
    [formGroup]="loginForm"
    (ngSubmit)="onSubmit()"
  >
    <div class="flex flex-col gap-2">
      <label for="username" class="text-sm">
        Usuario<span class="font-semibold text-red-600">*</span>
      </label>
      <input
        autocomplete="off"
        class="border border-gray-300 rounded-md p-2"
        type="text"
        name="username"
        id="username"
        formControlName="username"
        (blur)="onFieldBlur('username')"
        [ngClass]="{
          'border-red-500':
            loginForm.get('password')?.invalid &&
            loginForm.get('password')?.touched,
          'border-gray-300':
            loginForm.get('password')?.valid &&
            loginForm.get('password')?.touched
        }"
      />
    </div>
    <div class="flex flex-col gap-2">
      <label for="password" class="text-sm">
        Contraseña<span class="font-semibold text-red-600">*</span>
      </label>
      <div class="flex items-center justify-center">
        <input
          class="border-y border-l border-gray-300 p-2 rounded-s-md"
          [type]="showPassword ? 'text' : 'password'"
          name="password"
          id="password"
          formControlName="password"
          (blur)="onFieldBlur('password')"
          [ngClass]="{
            'border-red-500':
              loginForm.get('password')?.invalid &&
              loginForm.get('password')?.touched,
            'border-gray-300':
              loginForm.get('password')?.valid &&
              loginForm.get('password')?.touched
          }"
        />
        <button
          type="button"
          class="bg-gray-100 py-2 px-3 border rounded-e-md"
          (click)="togglePasswordVisibility()"
        >
          <i
            class="ti"
            [ngClass]="showPassword ? ' ti-eye-off' : 'ti-eye'"
            text-gray-500
          ></i>
        </button>
      </div>
    </div>
    <button
      class="bg-blue-800 text-white rounded-md px-1 py-2 hover:bg-sky-500"
    >
      Acceder
    </button>
  </form>
  <span class="text-gray-500 opacity-80 mt-5 font-semibold">
    © Universidad de Guayaquil
  </span>
</div>
