<app-modal
  *ngIf="isModalAddOpen"
  [title]="'Seleccionar archivo'"
  [size]="'small'"
  [contentTemplate]="modalAdd"
  (closeModal)="toggleAddModal()"
></app-modal>

<ng-template #modalAdd>
  <div class="flex flex-col gap-5">
    <div class="flex flex-col gap-2">
      <label for="status" class="text-sm">Archivos Disponibles</label>
      <select
        class="border border-gray-300 rounded-md p-2"
        (change)="onFileChange($event)"
      >
        <option value="">Seleccione</option>
        <option *ngFor="let file of files" [value]="file">
          {{ file }}
        </option>
      </select>
    </div>
    <button
      class="bg-blue-800 text-white rounded-md px-1 py-2 hover:bg-sky-500"
      [disabled]="!isLoadEnabled"
      (click)="onFileUpload()"
    >
      <i class="ti ti-upload"></i>
      Cargar
    </button>
  </div>
</ng-template>

<app-modal
  *ngIf="isModalDetailOpen"
  [title]="'Detalle de la propuesta'"
  [size]="'small'"
  [contentTemplate]="modalDetail"
  (closeModal)="toggleDetailModal()"
></app-modal>

<ng-template #modalDetail>
  <div class="flex flex-col gap-5">
    <span
      >Estudiante solicitante:
      {{ selectedProposalDetail?.principal.name }}</span
    >
    <span
      >Cedula Estudiante solicitante:
      {{ selectedProposalDetail?.principal.document }}</span
    >
    <span
      >Estudiante par:
      {{ selectedProposalDetail?.partner?.name || "N/A" }}</span
    >
    <span
      >Cedula Estudiante par:
      {{ selectedProposalDetail?.partner?.document || "N/A" }}</span
    >
    <span>Carrera: {{ selectedProposalDetail?.principal.career }}</span>
    <span
      >Título a obtener:
      {{ selectedProposalDetail?.proposal?.title_obtain || "N/A" }}</span
    >
    <span
      >Modalidad de trabajo de titulación:
      {{
        selectedProposalDetail?.proposal?.modality ||
          "Proyecto de investigación"
      }}
    </span>
    <span
      >Línea de Investigación:
      {{ selectedProposalDetail?.proposal?.research_line || "N/A" }}</span
    >
    <span
      >Sublínea de Investigación:
      {{ selectedProposalDetail?.proposal?.research_subline || "N/A" }}</span
    >
    <span>Tema: {{ selectedProposalDetail?.proposal?.title || "N/A" }}</span>
  </div>
</ng-template>

<app-modal
  *ngIf="isModalEditOpen"
  [title]="'Editar Detalle Propuesta'"
  [size]="'small'"
  [contentTemplate]="modalEdit"
  (closeModal)="toggleEditModal()"
></app-modal>

<ng-template #modalEdit>
  <form class="flex flex-col gap-5" autocomplete="off">
    <div class="flex flex-col gap-2">
      <label for="documentStudentName" class="text-sm">Estudiante Par</label>
      <div class="flex gap-4">
        <input
          class="border border-gray-300 rounded-md p-2 w-11/12"
          type="text"
          name="documentStudentName"
          [(ngModel)]="editForm.document"
          placeholder="Ingrese documento"
          required="true"
        />
        <button
          type="button"
          class="bg-yellow-500 text-white rounded-md px-1 py-2 hover:bg-yellow-600 w-3/12"
          (click)="onSearchPartner()"
        >
          <i class="ti ti-zoom"></i> Buscar
        </button>
      </div>
    </div>
    <div class="flex flex-col gap-2">
      <label for="career" class="text-sm">Carrera</label>
      <input
        class="border border-gray-300 rounded-md p-2"
        type="text"
        name="career"
        [value]="partnerSearchResult?.career || ''"
        readonly="true"
      />
    </div>
    <div class="flex flex-col gap-2">
      <label for="degree" class="text-sm">Título a obtener</label>
      <input
        class="border border-gray-300 rounded-md p-2"
        type="text"
        name="degree"
        [(ngModel)]="editForm.title"
        required="true"
      />
    </div>
    <div class="flex flex-col gap-2">
      <label for="modality" class="text-sm">Modalidad</label>
      <input
        class="border border-gray-300 rounded-md p-2"
        type="text"
        name="modality"
        value="Proyecto de investigación"
        readonly="true"
      />
    </div>
    <div class="flex flex-col gap-2">
      <label for="line" class="text-sm">Línea de Investigación</label>
      <input
        class="border border-gray-300 rounded-md p-2"
        type="text"
        name="line"
        [(ngModel)]="editForm.researchLine"
        required="true"
      />
    </div>
    <div class="flex flex-col gap-2">
      <label for="subline" class="text-sm">Sub-línea de Investigación</label>
      <input
        class="border border-gray-300 rounded-md p-2"
        type="text"
        name="subline"
        [(ngModel)]="editForm.researchSubline"
        required="true"
      />
    </div>
    <div class="flex flex-col gap-2">
      <label for="title" class="text-sm">Tema</label>
      <input
        class="border border-gray-300 rounded-md p-2"
        type="text"
        name="title"
        [(ngModel)]="editForm.topic"
        required="true"
      />
    </div>
    <button
      class="bg-blue-800 text-white rounded-md px-1 py-2 hover:bg-sky-500"
      [disabled]="!isSaveEnabled"
      (click)="onSave()"
    >
      Guardar
    </button>
  </form>
</ng-template>

<div class="flex flex-col items-center justify-center min-w-[100vw] gap-5 mb-5">
  <span class="text-2xl m-5">Carga de Propuestas</span>
  <div class="flex flex-col gap-5 items-center justify-center">
    <div class="flex flex-col items-center justify-center gap-5">
      <div class="flex flex-row items-center justify-center gap-5">
        <label for="period" class="text-sm">Periodo</label>
        <select
          class="border border-gray-300 rounded-md p-2"
          (change)="onPeriodChange($event)"
        >
          <option value="">Seleccione</option>
          <option *ngFor="let period of periods" [value]="period.id">
            {{ period.description }}
          </option>
        </select>
        <button
          class="bg-green-500 p-2 rounded-lg text-white text-lg"
          [disabled]="!isLoadEnabled"
          (click)="toggleAddModal()"
        >
          <i class="ti ti-upload"></i> Iniciar Carga
        </button>
      </div>
    </div>
  </div>
  <span class="text-2xl m-2">Detalle Propuestas</span>
</div>
<div *ngIf="showTable">
  <app-table
    [tableWidth]="'w-9/12'"
    [columns]="columns"
    [data]="data()"
    [actionsConfig]="actionsConfig"
    (onEdit)="onEdit($event)"
    (onDetail)="onDetail($event)"
  ></app-table>
</div>
